.modal:not(display-modal) {
    display: none;
}

.modal.display-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0%;
}

.background-modal {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: black;
}

.text {
    position: absolute;
    background: white;
    left: 40%;
    width: 20%;
    height: 4%;
    padding-top: 1%;
    padding-left: 1%;
    border-radius: 10px;
}

.croix {
    color: white;
    position: absolute;
    right: 38.3%;
    top: 45.8%;
    background: black;
    padding: 2px 7px 4px;
    border-radius: 100%;
    cursor: pointer;
}